<app-bar-v></app-bar-v>
<app-bar></app-bar>

<div class="comprobador">
  <div class="com">

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
        <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
      </svg>
      <h4>arrastre su archivo aqui</h4>
      <h6>drag your file here</h6>

  </div>
</div>

<div class="boton" (input)="onInputChange($event)">
  <input
  type="file"
  id="docpicker"
  accept=".txt,.xlsx,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

  <!-- <button class="btn btn-outline-success" (click)="visible()" *ngIf="tieneDato">Validar</button> -->
</div>
<div class="error" *ngIf="visibles">
  <ul>
    <li>line 12/3</li>
    <li>line 12/11</li>
    <li>line 12/8</li>
    <li>line 12/90</li>
    <li>line 12/2</li>
    <li>line 12/56</li>
    <li>line 11/3</li>
    <li>line 13/3</li>
    <li>line 22/12</li>
    <li>line 10/3</li>
  </ul>
</div>
