.barr{
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  max-width: 200px;
  float: left;
  box-shadow: 10px 10px 30px -20px darkred;
}

.bar{
  display: grid;
  grid-template-columns: repeat(2,.1fr);
  border-radius: 10px;
  height: 80vh;
  max-width: 200px;
  justify-content: center;
}

.barra{
  /* border: 3px solid red; */
  margin: 10px 10px;
  max-width: 150px;
  height: 10vh;
}

.icon{
  /* border: 3px solid yellow; */
  /* margin-left: 10px; */
  width: 50px;
  height: 10vh;
  float: left;
}

.btn{
  margin-top: 5px;
}

.icon svg{
  width: 50px;
  height: 50px;
  color: gray;
}

.icon svg:hover{
  color: darkred;
}

.logos{
  /* display: flex; */
  /* border: 3px solid green; */
  max-height: 100px;
  width: 50px;
  margin-bottom: 20px;
}

.logos img{
  width: 100%;
}
i{
  margin-top: 20px;
  height: 7vh;
  border: 2px solid darkblue;
}

