:host {
  display: block;
}

body{
  display: flex;
}

#bar{
  padding: .01%;
  display: flex;
  max-height: 80px;
  width: 100%;
  margin: auto 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 50px -25px darkred;
  justify-content: right;
  align-content: center;
  overflow: hidden;

}

.menu{
  display: flex;
  margin: auto 5%;
}
.menu svg{
  margin: 5% 10%;
  color: gray;
}
.menu svg:hover{
  color: darkred;
}

.user{
  margin-right: 20px;
}
