<body>
  <nav id="bar" class="gradiant_H">
    <div class="logos">
      <img src="https://campus.dms.ms/pluginfile.php/1/theme_edumy/footerlogo1/1709399473/bd4f576c-ef3a-4fe2-b0c5-7ad53062b6c7.png" alt="soy un logo">
      <i></i>
      <img src="https://campus.dms.ms/pluginfile.php/1/theme_edumy/footerlogo1/1709399473/bd4f576c-ef3a-4fe2-b0c5-7ad53062b6c7.png" alt="soy un logo">
    </div>

    <div class="usuario">
      <div class="user">
        <h1>user</h1>
      </div>
      <div class="menu">
        <h6>user</h6>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </div>

  <a id="borrar" href="/bodegas">clear</a>
    </div>
  </nav>
</body>

